<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660741064805-gvpsp5tfhd87fd8nujiphp9ug9ntc964.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660741064805-gvpsp5tfhd87fd8nujiphp9ug9ntc964</string>
	<key>API_KEY</key>
	<string>AIzaSyCf-dG4L8PMnk5hED30B_h5UNb1NvEzq6E</string>
	<key>GCM_SENDER_ID</key>
	<string>660741064805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skydt.MyNotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-44940</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-44940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660741064805:ios:ba133412828622d6</string>
	<key>DATABASE_URL</key>
	<string>https://my-notes-44940.firebaseio.com</string>
</dict>
</plist>